@import '../../styles/GlobalStyle.scss';
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

.card {
    font-family: $fontStyle, 'Merriweather';
    width: 370px;
    background-color: white;
    padding: 20px 0px;
    // margin: 0px auto;
    border-radius: 0.3rem;
    border-color: #2e2e2e;
    margin: 0.5rem 1rem 3rem 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;  
    position: relative;  
    img{
        height: 400px;
        width: 100%;
    }
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card_title {
    padding: 0.25rem;
    font-weight: bolder;
    font-size: 1.5rem;
}

.card_body {
    padding: 0.25rem;
    margin-bottom: 1.5rem;
}
