.social-media-div {
    font-size: 2em;
}

.icon-button {
    display: inline-block;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
    display: inline-block;
    font-size: 4rem;
    height: 4rem;
    margin: 0 10px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 5rem;
    margin-bottom: 10px;
    transition: 0.2s ease-in;
}

@media (max-width: 768px) {
    .social-media-div {
      text-align: center;
    }
}