@import '../../styles/GlobalStyle.scss';

.skills-main-div {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 20px 0px;
    margin: 0px auto;
}

.title {
    font-size: 3rem;
    text-align: center;
    font-family: $fontStyle;
    color: $titleColor;
}

.subtitle {
    font-size: $subTitleSize;
    text-align: center;
    font-family: $fontStyle;
    color: $subTitleColor;
}

.skillContainer {
    display: flex;
}

.lottieContainer {
    width: 150rem;
}

.skillsDetails {
    padding: 3rem;
}

.dev-icons {
    padding-left: 0;
    list-style: none;
    font-size: 3rem;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
}

.software-skill-inline {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
}

.software-skill-inline>i {
    color: $subTitleSize;
}

.software-skill-inline>i:hover {
    color: $skillsColor;
}

.software-skill-inline>p {
    color: $subTitleSize;
    font-size: 20px;
}

.software-skill-inline>i:hover~p {
    color: $skillsColor;
}

@media (max-width: $tablet) {
    .skills-main-div {
        flex-direction: column;
    }

    .skillContainer {
        display: block;
    }

    .lottieContainer {
        display: flex;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        order: 2;
    }

    .skillsDetails {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}